<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.driver.driverbooking">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="in.wptrafficanalyzer.locationroutedirectionmapv2.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/driver_app_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/driver_app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"

        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>


        <activity android:name=".Activity.PaymentInfoActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activity.HelpActivity"
            android:icon="@drawable/driver_app_icon"
            android:label="Privacy Policy"
            android:parentActivityName=".MapActivity.MapsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:icon="@drawable/driver_app_icon"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapActivity.MapsActivity"
            android:icon="@drawable/driver_app_icon"
            android:label="@string/title_activity_maps"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.LoginDiverActivity"
            android:icon="@drawable/driver_app_icon"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Activity.ProfileActivity"
            android:icon="@drawable/driver_app_icon"
            android:label="My Profile "
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.MyTripsActivity"
            android:icon="@drawable/driver_app_icon"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.Future_BookingsActivity"
            android:icon="@drawable/driver_app_icon"
            android:label="Future Booking"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.EditProfileActivity"
            android:icon="@drawable/driver_app_icon"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DocumentsActivity"
            android:icon="@drawable/driver_app_icon"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.SplashScreen.SplashScreenActivity"
            android:icon="@drawable/driver_app_icon"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Forget_Password.ForgetMobilenoActivity"
            android:icon="@drawable/driver_app_icon"
            android:label="Forgot Password"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.Forget_Password.ForgetOtpActivity"
            android:icon="@drawable/driver_app_icon"
            android:label="Forgot Password"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.Forget_Password.ForgetUpdarePassActivity"
            android:icon="@drawable/driver_app_icon"
            android:label="Forgot Password"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.ContactUsActivity"
            android:icon="@drawable/driver_app_icon"
            android:label="Contact Us"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.AboutAsActivity"
            android:icon="@drawable/driver_app_icon"
            android:label="About As"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.ResetPasswordActivity"
            android:icon="@drawable/driver_app_icon"
            android:label="Reset Password"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.HistoryMyTripActivity"
            android:icon="@drawable/driver_app_icon"
            android:screenOrientation="portrait" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".Activity.DriverTermsConditionActivity"
            android:icon="@drawable/driver_app_icon"
            android:screenOrientation="portrait" />
    </application>

</manifest>